scikit-learn
spacy
nltk
word2number
vosk
Flask
gevent
flask-cors
psutil
plac
faiss-cpu==1.7.4
pydantic==1.10.8
tensorflow
matplotlib
dill
langchain==0.0.216
typing-inspect==0.8.0
typing-extensions==4.5.0
chromadb==0.3.26